[Unit]
Description=Buro South Tab Collection
After=network.target

[Service]
WorkingDirectory=/home/buro/service-apps/buro-south
ExecStart=/usr/bin/java -Xss125m -jar tab-collection-2021-02.jar 25000 192.192.210.151 gBankerBUROSouth buroapk buroapk@#$2019 gbanker 50
MemoryAccounting=true
CPUAccounting=true
Restart=always

[Install]
WantedBy=multi-user.target
