[Unit]
Description=Buro Daily Process
After=network.target

[Service]
WorkingDirectory=/home/buro/service-apps/buro
ExecStart=/usr/bin/java -jar gBankerDailyCollectionProcess-2020.jar 30000 daily-loan-saving 192.192.192.151 gBankerBURO buroapk buroapk@#$2019 100
MemoryAccounting=true
CPUAccounting=Yes
Restart=always

[Install]
WantedBy=multi-user.target
