[Unit]
Description=PIDIM Tab Collection
After=network.target

[Service]
WorkingDirectory=/home/buro/service-apps/verc
ExecStart=/usr/bin/java -Xss125m -jar tab-collection-2021-02.jar 30000 192.192.192.188\MSSQLSERVER2016 gBankerPIDIM_Data apps apps@#$2020 gbanker 50
MemoryAccounting=true
CPUAccounting=true
Restart=always

[Install]
WantedBy=multi-user.target

